/*  your css code here. If applicable */
body {
            font-family: Arial, sans-serif;
            text-align: center;
        }
        .middle {
            margin: 20px auto;
            border-collapse: collapse;
            width: 80%;
        }
        .center {
            text-align: center;
        }
		h1{
			text-align:center;
		}
		table{
			border:1px solid rgb(0, 0, 0);
			Spacing: 1px; 
			Padding: 1px;
		}
		#t11{
			border:1px solid black;
			text-align:left;
		}
		
		#t21{
			colspan="6";
			height:10px;
		}
		#t31{
			colspan="2";
			text-align:left;
		}
        .right {
            text-align: right;
        }
        .green {
            background-color: green;
            color: white;
        }
        .blue {
            background-color: blue;
            color: white;
        }